.form {
    max-width: 500px;
    width: 100%;
    color: color(tag-bg-dark);
    border: 1px solid color(border);
    margin: 15px auto 0;
    padding: 15px;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: normal;

    form {
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;

        &.login-form {
            .form-check {
                margin-right: auto;
                margin-top: 10px;
            }
        }

        span.invalid-feedback {
            position: absolute;
            right: 0;
            font-size: 0.8em;
            color: color(primary-light);
            text-decoration: underline;
        }

        .form-group {
            width: 100%;
            position: relative;
            margin-bottom: 1.5em;
            overflow: hidden;

            input, textarea {
                width: 100%;
                color: color(base);
                font-weight: normal;
                padding: 25px 0 3px 0;
                border: none;
                outline: none;

                &:focus + .label-name .content-name,
                &:valid + .label-name .content-name {
                    transform: translateY(-150%);
                    font-size: 0.8em;
                    font-weight: bolder;
                    color: color(primary-light);
                }

                &:focus + .label-name::after,
                &:valid + .label-name::after {
                    transform: translateX(0);
                }
            }

            textarea {
                margin-top: 25px;
                padding-top: 0;

                &:focus + .label-name .content-name,
                &:valid + .label-name .content-name {
                    transform: translateY(0);
                    height: 100%;
                }
            }

            label {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                pointer-events: none;
                border-bottom: 1px solid color(tag-color);

                &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: -1px;
                    height: 100%;
                    width: 100%;
                    border-bottom: 2px solid color(primary);
                    transform: translateX(-100%);
                    transition: transform 0.3s ease;
                }
            }
            
            .content-name {
                position: absolute;
                bottom: 0;
                left: 0;
                transition: all 0.3s ease;
            }
        }

        .form-group-inline {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;

            label:after {
                content: none;
            }

            select {
                position: absolute;
                bottom: 0;
                width: 40%;
                margin-bottom: 3px;

                & + label {
                    border: none;
                }
            }

            input[type="file"] + label {
                border: none;
            }
        }
    }
}