@import url(https://fonts.googleapis.com/css?family=Nunito);@import url(https://fonts.googleapis.com/css?family=Varela&display=swap&subset=latin-ext);a,
button,
input[type=submit] {
  text-decoration: none;
  border: none;
  cursor: pointer;
}

a.center,
button.center,
input[type=submit].center {
  text-align: center;
  display: block;
}

a.right,
button.right,
input[type=submit].right {
  text-align: center;
  display: block;
}

a.link,
button.link,
input[type=submit].link {
  text-decoration: none;
  color: #fc4c02;
  vertical-align: middle;
}

a.link.color-secondary,
button.link.color-secondary,
input[type=submit].link.color-secondary {
  color: #a7a39f;
}

a.link:hover,
button.link:hover,
input[type=submit].link:hover {
  color: #ed4702;
}

a.link:active,
button.link:active,
input[type=submit].link:active {
  color: #c93d02;
}

a.link:not(.default-link):first-of-type:after,
button.link:not(.default-link):first-of-type:after,
input[type=submit].link:not(.default-link):first-of-type:after {
  content: "";
  display: inline-block;
  height: 0.4em;
  width: 0.4em;
  border-radius: 50%;
  background: #fc4c02;
  vertical-align: middle;
  margin: 0 0.45em;
}

a.button,
button.button,
input[type=submit].button {
  display: block;
  padding: 1.1em;
  margin: 1.3em 0 1.2em;
  text-align: center;
  border-radius: 5px;
}

a.button.button-tag,
button.button.button-tag,
input[type=submit].button.button-tag {
  display: inline-block;
  color: #b3b0ac;
  background: #f1f1f1;
  font-size: 0.85em;
  padding: 0.9em 0.65em;
  margin: 0.65em 0.65em 0 0;
  border-radius: 2px;
}

a.button.button-tag:hover,
button.button.button-tag:hover,
input[type=submit].button.button-tag:hover {
  color: #a7a39f;
  background: #e4e4e4 radial-gradient(circle, transparent 1%, #e4e4e4 1%) center/15000%;
}

a.button.button-tag:active,
button.button.button-tag:active,
input[type=submit].button.button-tag:active {
  color: #8e8a84;
  background-color: #cbcbcb;
  background-size: 100%;
  transition: background 0s;
}

a.button.button-primary,
button.button.button-primary,
input[type=submit].button.button-primary {
  background: #fc4c02;
  color: white;
}

a.ripple,
button.ripple,
input[type=submit].ripple {
  background-position: center;
  transition: background 0.8s;
}

a.ripple:hover,
button.ripple:hover,
input[type=submit].ripple:hover {
  background: #fd5d1a radial-gradient(circle, transparent 1%, #fd5d1a 1%) center/15000%;
}

a.ripple:active,
button.ripple:active,
input[type=submit].ripple:active {
  background-color: #fe814d;
  background-size: 100%;
  transition: background 0s;
}

.form {
  max-width: 500px;
  width: 100%;
  color: #cbcbcb;
  border: 1px solid #ebebeb;
  margin: 15px auto 0;
  padding: 15px;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: normal;
}

.form form {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.form form.login-form .form-check {
  margin-right: auto;
  margin-top: 10px;
}

.form form span.invalid-feedback {
  position: absolute;
  right: 0;
  font-size: 0.8em;
  color: #fe814d;
  text-decoration: underline;
}

.form form .form-group {
  width: 100%;
  position: relative;
  margin-bottom: 1.5em;
  overflow: hidden;
}

.form form .form-group input,
.form form .form-group textarea {
  width: 100%;
  color: #2c3643;
  font-weight: normal;
  padding: 25px 0 3px 0;
  border: none;
  outline: none;
}

.form form .form-group input:focus + .label-name .content-name,
.form form .form-group input:valid + .label-name .content-name,
.form form .form-group textarea:focus + .label-name .content-name,
.form form .form-group textarea:valid + .label-name .content-name {
  transform: translateY(-150%);
  font-size: 0.8em;
  font-weight: bolder;
  color: #fe814d;
}

.form form .form-group input:focus + .label-name::after,
.form form .form-group input:valid + .label-name::after,
.form form .form-group textarea:focus + .label-name::after,
.form form .form-group textarea:valid + .label-name::after {
  transform: translateX(0);
}

.form form .form-group textarea {
  margin-top: 25px;
  padding-top: 0;
}

.form form .form-group textarea:focus + .label-name .content-name,
.form form .form-group textarea:valid + .label-name .content-name {
  transform: translateY(0);
  height: 100%;
}

.form form .form-group label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #b3b0ac;
}

.form form .form-group label:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 2px solid #fc4c02;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.form form .form-group .content-name {
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease;
}

.form form .form-group-inline {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.form form .form-group-inline label:after {
  content: none;
}

.form form .form-group-inline select {
  position: absolute;
  bottom: 0;
  width: 40%;
  margin-bottom: 3px;
}

.form form .form-group-inline select + label {
  border: none;
}

.form form .form-group-inline input[type=file] + label {
  border: none;
}

nav.navbar {
  bottom: 0;
  width: 100vw;
  height: 5rem;
  z-index: 1;
  position: fixed;
  background: #e4e4e4;
  transition: width 200ms ease;
}

nav.navbar .navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

nav.navbar .navbar-nav .nav-item {
  width: 100%;
}

nav.navbar .navbar-nav .nav-item.logo {
  display: none;
}

nav.navbar .navbar-nav .nav-item .nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: #a7a39f;
  text-decoration: none;
  -webkit-filter: grayscale(100%) opacity(0.7);
          filter: grayscale(100%) opacity(0.7);
  transition: 400ms;
}

nav.navbar .navbar-nav .nav-item .nav-link:hover {
  -webkit-filter: grayscale(0) opacity(1);
          filter: grayscale(0) opacity(1);
  background: #cbcbcb;
  color: #8e8a84;
}

nav.navbar .navbar-nav .nav-item .nav-link:hover svg {
  color: #ed4702;
}

nav.navbar .navbar-nav .nav-item .nav-link .link-text {
  display: none;
  margin-left: 1rem;
}

nav.navbar .navbar-nav .nav-item .nav-link svg {
  min-width: 2rem;
  margin: 0 auto;
  color: #fc4c02;
  transition: 600ms;
}

@media (min-width: 600px) {
  nav.navbar .navbar-nav .nav-item .nav-link svg {
    margin: 0 1.5rem;
  }
}

@media (min-width: 600px) {
  nav.navbar {
    width: 5rem;
    top: 0;
    height: 100vh;
  }

  nav.navbar:hover {
    width: 16rem;
  }

  nav.navbar:hover .nav-item .nav-link .link-text {
    display: inline;
    transition: 500ms;
  }

  nav.navbar:hover .logo svg {
    display: none;
    transition: 500ms;
  }

  nav.navbar .navbar-nav {
    flex-direction: column;
  }

  nav.navbar .navbar-nav .nav-item.logo {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: #8e8a84;
    background: #cbcbcb;
    font-size: 2rem;
    letter-spacing: 0.3ch;
    width: 100%;
  }
}

ul.pagination {
  font-size: 1.3em;
  margin-bottom: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

ul.pagination li {
  margin-right: 15px;
}

ul.pagination li a {
  color: #2c3643;
}

ul.pagination li.disabled a {
  pointer-events: none;
  color: #b3b0ac;
}

ul.pagination li.active a {
  color: #fc4c02;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

html {
  font-family: "Varela", sans-serif;
  font-size: 14px;
  color: #2c3643;
}

html a,
html h1,
html h2,
html h3,
html h4,
html h5,
html h6 {
  margin: 0;
}

html h2,
html h3 {
  font-size: 1.2em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #2c3643;
}

ul.pagination {
  display: flex;
  justify-content: center;
}

ul.pagination li.page-item {
  color: #2c3643;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.center {
  text-align: center;
}

.container {
  width: 100%;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #e4e4e4;
}

body::-webkit-scrollbar-thumb {
  background: #b3b0ac;
}

div#app {
  padding: 15px 15px 25px;
  max-width: 1140px;
  margin: 0 auto;
}

@media (min-width: 600px) {
  div#app {
    padding-left: calc(5rem + 15px);
  }
}

@media (min-width: 980px) {
  div#app {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

div#app .location-info {
  display: flex;
  flex-flow: row wrap;
}

div#app .location-info .location {
  margin-right: 1em;
}

div#app .location-info span.ranking-star {
  display: inline-block;
  -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
          clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  background: #fac917;
  width: 1.15em;
  height: 1.15em;
  vertical-align: middle;
}

@media (min-width: 980px) {
  div.camping-content {
    max-width: 58.3333333333%;
  }
}

div.camping-content div.card {
  max-width: 100%;
  width: 100%;
}

div.camping-content div.card img {
  min-height: 300px;
}

@media (min-width: 600px) {
  div.new-listings,
  div.camping-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  div.new-listings .card,
  div.camping-content .card {
    max-width: 48%;
  }

  div.new-listings .card img,
  div.camping-content .card img {
    height: 50%;
    min-height: 200px;
  }

  div.new-listings .card p,
  div.camping-content .card p {
    line-height: 2;
    text-align: justify;
    font-size: 1.2em;
  }
}

@media (min-width: 980px) {
  div.new-listings,
  div.camping-content {
    max-width: 58.3333333333%;
  }

  div.new-listings div.card,
  div.camping-content div.card {
    min-height: 155px;
  }
}

div.new-listings div.card,
div.camping-content div.card {
  border: 1px solid #ebebeb;
  border-radius: 5px;
  margin-bottom: 40px;
  position: relative;
}

div.new-listings div.card svg.heart-icon,
div.camping-content div.card svg.heart-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 20px;
  width: 20px;
  color: white;
  opacity: 0.6;
}

div.new-listings div.card img,
div.camping-content div.card img {
  max-height: 50%;
}

div.new-listings div.card div.card-info,
div.camping-content div.card div.card-info {
  padding: 15px 15px 25px;
}

div.new-listings div.card div.card-info h2,
div.camping-content div.card div.card-info h2 {
  margin: 0 0 0.7em;
}

div.new-listings div.card div.card-info h2 a,
div.camping-content div.card div.card-info h2 a {
  color: #2c3643;
}

div.new-listings div.card div.card-info .location-info,
div.camping-content div.card div.card-info .location-info {
  margin-bottom: 2em;
}

div.new-listings .controls,
div.camping-content .controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  margin: 0;
}

div.new-listings .controls a,
div.camping-content .controls a {
  margin-right: 15px;
}

@media (min-width: 450px) {
  div.popular-listings {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

@media (min-width: 980px) {
  div.popular-listings {
    max-width: 39.6666666667%;
  }
}

div.popular-listings div.card {
  margin-bottom: 30px;
  position: relative;
}

div.popular-listings div.card svg.heart-icon {
  position: absolute;
  top: 8px;
  right: calc(52% + 8px);
  height: 20px;
  width: 20px;
  color: white;
  opacity: 0.6;
}

div.popular-listings div.card img {
  border-radius: 3px;
}

@media (min-width: 450px) {
  div.popular-listings div.card {
    display: flex;
    flex-direction: row;
  }

  div.popular-listings div.card img {
    max-width: 48%;
    margin-right: 2%;
  }

  div.popular-listings div.card div.card-info {
    display: flex;
    flex-flow: column nowrap;
    align-items: baseline;
    justify-content: space-between;
  }

  div.popular-listings div.card div.tag-list {
    height: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-end;
  }
}

div.popular-listings div.card div.card-info h2 {
  margin: 0 0 0.7em;
}

div.popular-listings div.card div.card-info h2 a {
  color: #2c3643;
}

div.popular-listings div.card div.card-info .location-info {
  margin-bottom: 1em;
}

div.warning {
  display: block;
  width: 100%;
  text-align: center;
  padding: 15px 15px 25px;
  border-radius: 3px;
  font-size: 1.5em;
  font-weight: bolder;
  border: 1px solid #ebebeb;
}

div.warning.warning-success {
  color: green;
}

div.warning.warning-error {
  color: #fc4c02;
}

li.camping-item {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #ebebeb;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  color: #2c3643;
}

li.camping-item a {
  color: #2c3643;
}

li.camping-item h3,
li.camping-item span {
  width: 100%;
  margin-bottom: 8px;
}

li.camping-item .button {
  padding: 5px;
  margin: 0 10px 0 0;
  background: #f1f1f1;
  color: #2c3643;
}

.controls {
  max-width: 200px;
  margin: 0 auto;
}

